<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체 상품</title>

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/layout1.css}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!--추가 CSS -->
    <th:block layout:fragment="css">
        <style>
        </style>
    </th:block>

</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                카테고리 >
                <span th:if="${selectCategory}" th:text="${selectCategory.categoryName}"></span>
                <span th:if="${selectCategory == null}">전체</span>
            </li>
        </ol>
    </nav>

    <!-- 카테고리별로 검색 -->
    <div class="row justify-content-md-center" style="margin-bottom: 40px;">
        <h5> #
            <a th:href="@{/product/list.do}" th:text="전체"
               class="badge badge-pill badge-light"></a>
        </h5>
        <div th:each="category : ${selectListCategory}" class="col-md-auto">
            <h5> #
                <a th:href="@{/product/list.do(categoryId = ${category.categoryId})}" th:text="${category.categoryName}"
                   class="badge badge-pill badge-light"></a>
            </h5>
        </div>
    </div>

    <!-- 상품 list -->
    <div class="card-deck d-flex justify-content-center">
        <div th:each="product, status : ${selectListFrontProduct}">
            <div class="card rounded" style="width: 300px;">
                <a th:href="@{/product/detail/{productId}(productId = ${product.productId})}" class="text-dark">
                    <img th:src="${product.imgUrlPath}" class="card-img-top" alt="${product.imgOriginName}" height="300">
                    <div class="card-body">
                        <span th:if="${product.productStatus == T(com.zerobase.minicommerce.product.type.ProductStatus).SELL}" class="badge badge-primary mgb-15">
                            판매중
                        </span>
                        <span th:unless="${product.productStatus == T(com.zerobase.minicommerce.product.type.ProductStatus).SELL}" class="badge btn-danger mgb-15" >
                            품절
                        </span>
                        <h4 class="card-title" th:text="${product.productName}"></h4>
                        <h5 class="card-title text-danger" data-th-text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA') + '원'}"></h5>
                    </div>
                </a>
            </div>
            <hr th:if="${status.index % 1 == 0}" style="visibility: hidden; height: 40px;" />
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>



</body>
</html>